
/* Here is where the body styles start */

body {
    background-color: $richred;
}

.container {
    /* margin-top: 0; */
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    padding: .5em 2em;
}

section {
    float: left;
    width: 800PX;
    padding-bottom: 1.5em;
}

ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
}

li {
    margin: 0;
    padding: 0;
}

a {
    color: rgb(41, 64, 124);
    font-weight: bold;
}

a:hover {
    color: rgb(208, 133, 4);
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px dashed black;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
}

form {
    margin: 0;
}

br {
    clear: left;
}

/* the styles for classes */
.right {
    text-align: right;
}

.last_paragraph {
	margin-bottom: 2em;	
}

.margin_top_increase {
	margin-top: 1em;	
}

#add_record_form {
    margin: .5em 0 1em;
}

#add_record_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}

#add_record_form input {
    float: left;
}

#add_record_form input[text] {
    width: 15em;
}

.group:after {
    content: "";
    display: table;
    clear: both;
  }