
/* Here is where the fonts styles start */

h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
}

h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
}

h1, h2 {
    color: #333;
}