
/* Here is where the footer styles start */


footer {
    text-align: center;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0;
    clear: both;
    margin-top: 1em;
    border-top: 2px solid black;
}

footer p {
    text-decoration: none;
    color: $p;
    text-align: right;
    font-size: 80%;
    margin: 1em 0;
}

  