
/* Here is where the footer styles start */

footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid black;
}

footer p {
    text-align: right;
    font-size: 80%;
    margin: 1em 0;
}