
/* Here is where the header styles start */

header {
    margin: 0;
    border-bottom: 2px solid black;

    h1 {
        margin: 0;
        padding: .5em 0;
        color: black;
    }
}

nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

nav ul li {
    padding-bottom: 0.5em;
}