
/* Here is where the header styles start */

header {
    margin: 0;
    border-bottom: 2px solid black;

    h1 {
        font-size: 50px;
        margin-left: 35%;
        padding: .5em 0;
        color: $bl;
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $w;
    border: 2px solid black;
}

nav ul li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li {
    float: left;
}

li a:hover:not(.active) {
    background-color: $w;
  }
  
  .active {
    background-color: #04AA6D;
  }