
/* the styles for the html elements */







/********************************************************************
* Additional styles for the record Manager application
********************************************************************/
